.dashboard {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background-color: var(--primary-color);
    padding-top: 20px;
    overflow-y: auto;
    z-index: 1;
}

.content {
    padding-left: 326px;
    flex: 1;
    padding-top: 90px;
    overflow-y: auto;
    max-height: 100vh;
    max-height: 100vh;
}

@media(max-width: 760px) {

    .sidebar {
        display: none;
    }

    .content {
        padding-left: 0px;
        flex: 1;
        overflow-y: auto;
        max-height: 100vh;
        max-height: 100vh;
    }
}